footer
	.container-fluid.text-center
		.row
			.col-xs-12
				a(href="https://www.facebook.com/john4reo/", rel="external nofollow")
					i.fa.fa-facebook-square(aria-hidden="true")
				a(href="https://www.linkedin.com/in/john4reo", rel="external nofollow")
					i.fa.fa-linkedin-square(aria-hidden="true")
			p.copyright
				| &copy; 2016 
				a(href="/") John Huang
				| . All Rights Reserved.
			p.small-text Built by
				a(href="http://michellehuang.net", rel="external nofollow")
					img(src="/images/mh-logo.png")