footer
	.container-fluid.text-center
		.row
			.col-xs-12
				a(href="#")
					i.fa.fa-facebook-square(aria-hidden="true")
				a(href="#")
					i.fa.fa-linkedin-square(aria-hidden="true")
			h5
				| &copy; 2016 
				a(href="#") John Huang
				| . All Rights Reserved.
			h5 Built by
				a(href="http://michellehuang.net")
					img(src="/images/MH-Logo.jpg")