head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	//- link(rel="stylesheet", href="/lib/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
	//- link(rel="stylesheet", href="/lib/css/jquery.bxslider.css")
	link(rel="stylesheet", href="/lib/css/styles.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")
	meta(property="og:type", content="website")
	meta(property="og:site_name", content="John Huang")
	meta(property="fb:admins", content="Enter Facebook ID")