li
	a(href="/listings/2074-vista-ave")
		img.img-responsive.center-block(src="/images/2074-Vista.jpg", alt="Link to 2074 Vista Ave Arcadia Real Estate")
		span.text-content
			span 
				p Arcadia House for Sale $1.588M
				p 2074 Vista Ave. Arcadia, CA 91006
				p 3 Beds | 3.00 Baths | 2,154 SqFt
li
	a(href="#")
		img.img-responsive.center-block(src="/images/house.jpg", alt="Link to home")
		span.text-content
			span
				p Eastvale House for Rent $2800
				p 14975 Franklin LN  Eastvale, CA 92880
				p 4 Beds | 4.00 Baths | 4039 SqFt | $2,800.00
li
	a(href="#")
		img.img-responsive.center-block(src="/images/house.jpg", alt="Link to home")
		span.text-content
			span
				p Eastvale House for Rent $2800
				p 14975 Franklin LN  Eastvale, CA 92880
				p 4 Beds | 4.00 Baths | 4039 SqFt | $2,800.00