doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title John Huang | Southern California Real Estate Agent
		link(rel="stylesheet", href="/lib/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(rel="stylesheet", href="/lib/css/style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600")
	body.home-page
		.navbar.navbar-static-top 
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#")
						img(src="#")
					button.navbar-toggle(type="button", data-toggle="collapse" data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
					li
						a(href="about/", data-toggle="collapse", data-target=".navbar-collapse.in") About
					li
						a(href="listings/", data-toggle="collapse", data-target=".navbar-collapse.in") Listings
					li
						a(href="search-homes/", data-toggle="collapse", data-target=".navbar-collapse.in") Search Homes
					li
						a(href="sellers/", data-toggle="collapse", data-target=".navbar-collapse.in") Sellers
					li
						a(href="contact/", data-toggle="collapse", data-target=".navbar-collapse.in") Contact		
		#top
			.container-fluid.text-center
				.col-xs-12
					h1 John Huang
					h2 Realty One Group
		#about
			.container-fluid.text-center
				.col-xs-offset-1.col-xs-10
					p My clients have a distinct advantage. Serving Los Angeles, Orange, San Bernardino, and Riverside counties for the past 8 years, I offer my clients unmatched skill, knowledge, and passion to serve their purpose. My passion in real estate is best observed through my attention to detail, diligence, and negotiation for the best deal. 
		#current-listings
			.container-fluid
				h2.text-center CURRENT LISTINGS
				ul.gallery.text-center.list-unstyled
					li
						a(href="#")
							img.img-responsive.center-block(src="#" alt="")
							span.text-content
								span Home 1
					li
						a(href="#")
							img.img-responsive.center-block(src="#" alt="")
							span.text-content
								span Home 2
					li
						a(href="#")
							img.img-responsive.center-block(src="#" alt="")
							span.text-content
								span Home 3
				.col-xs-12.text-center
					a(href="#").btn VIEW MORE LISTINGS
					a(href="#").btn MLS SEARCH
		#testimonials
			.container-fluid.text-center
				h2 TESTIMONIALS
				.col-xs-1
					i.fa.fa-angle-left(aria-hidden="true")
				.col-xs-offset-1.col-xs-8
					p
						| John helped us get our dream house in Lake Forest in 2015. We had seen so many houses in multiple cities before we settle down, and he had been very patient with us. It took awhile but he surely made house hunting a fun experience for me and my family. I am glad that all of us had learned a lot from these experience. Highly recommended!!
						br
						| - Ryan
				.col-xs-offset-1.col-xs-1
					i.fa.fa-angle-right(aria-hidden="true")
		#contact
			.container-fluid.text-center
				h2 CONTACT JOHN TODAY
				h3 Get in touch to buy or sell a home
				.col-xs-12
					a(href="#").btn (626)-629-6699
					a(href="#").btn EMAIL ME
		footer
			.container-fluid.text-center
				col-xs-12
					i.fa.fa-facebook-square(aria-hidden="true")
					i.fa.fa-linkedin-square(aria-hidden="true")
				p
					| &copy; 2016 
					a(href="#") John Huang. 
					| All Rights Reserved.
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

















