doctype html
html(lang='en')
	title Tips for Sellers | John Huang - Southern California Real Estate Agent
	meta(name="description", content="Learn tips for how to sell your house better.")
	meta(property="og:title", content="Tips for Sellers | John Huang - Southern California Real Estate Agent")
	meta(property="og:description", content="Learn tips for how to sell your house better.")
	meta(property="og:url", content="#")
	meta(property="og:image", content="#")
	include ../../includes/head
	body.thank-you-page
		include ../../includes/navbar
		main
			.container-fluid.text-center
				h1 Thank you!
				p You should expect a reply within 48 hours.
		include ../../includes/alt-contact
		include ../../includes/footer
		include ../../includes/scripts