doctype html
html(lang='en')
	title Tips for Sellers | John Huang - Southern California Real Estate Agent
	meta(name="description", content="Learn tips for how to sell your house better.")
	meta(property="og:title", content="Tips for Sellers | John Huang - Southern California Real Estate Agent")
	meta(property="og:description", content="Learn tips for how to sell your house better.")
	meta(property="og:url", content="#")
	meta(property="og:image", content="#")
	include ../../includes/head.pug
	body.sellers-page
		include ../../includes/navbar.pug
		main
			.container-fluid.text-center
				h1.end-head Tips for Sellers
				.row
					.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-4
						.sellers-tips
							i.fa.fa-laptop(aria-hidden="true")
							h3 Start Out Right
							p Use technology and the Internet. No matter what some of the "older and more experienced" may tell you, you need the Internet to market in the real estate world today.
					.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-4
						.sellers-tips
							i.fa.fa-usd(aria-hidden="true")
							h3 Price It Right
							p Activity in the first month of a listing is always the best, so don't risk wasting it. Price too high, and scare off many buyers and other agents. Don't get caught up in pricing games.
					.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-4
						.sellers-tips
							i.fa.fa-leaf(aria-hidden="true")
							h3 Sell By Season
							p No matter what the season, home selling is a year-round sport. Use seasonal accents to make potential buyers linger longer.
				.row
					.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-4
						.sellers-tips
							i.fa.fa-home(aria-hidden="true")
							h3 Be the "Neighborhood Expert"
							p Always know what's on the market, what sold recently, and the overall status of the neighborhood. Nowadays, anyone can look at houses online but the top agents know what lurks below the surface.
					.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-4
						.sellers-tips
							i.fa.fa-user(aria-hidden="true")
							h3 Hire a Real Estate Agent
							p Studies show that home sellers who use a real estate agent to represent them generally get a better price than those who sell the home themselves. Real estate agents are up-to-date on critical processes and can help keep you out of trouble. They can also help you get your home sold at the best price in the right time frame. Equally as important, real estate agents add objectivity to an inherently emotional transaction: the sale of your home.
					.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-4
						.sellers-tips
							i.fa.fa-paint-brush(aria-hidden="true")
							h3 Before Your Home is Listed
							p 
								| It's important to have your home in good showing condition before buyers start going through it. Here are some steps to take:
								br
								| Touch up interior and exterior paint as needed.
								br
								| Install new carpeting and flooring if it appears worn or dated.
								br
								| Make sure the front is clean and spruced up – curb appeal will create a favorable first impression.
		include ../../includes/alt-contact.pug
		include ../../includes/footer.pug
		include ../../includes/scripts.pug