doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title John Huang | Southern California Real Estate Agent
		link(rel="stylesheet", href="../lib/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(rel="stylesheet", href="../lib/css/style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600")
	body.contact-page
		.navbar.navbar-static-top 
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#")
						img(src="#")
					button.navbar-toggle(type="button", data-toggle="collapse" data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
					li
						a(href="../about/", data-toggle="collapse", data-target=".navbar-collapse.in") About
					li
						a(href="../listings/", data-toggle="collapse", data-target=".navbar-collapse.in") Listings
					li
						a(href="../search-homes/", data-toggle="collapse", data-target=".navbar-collapse.in") Search Homes
					li
						a(href="../sellers/", data-toggle="collapse", data-target=".navbar-collapse.in") Sellers
					li
						a(href="../contact/", data-toggle="collapse", data-target=".navbar-collapse.in") Contact
		main
			.container-fluid
				h1 Contact
				.row
					.col-xs-12.col-md-offset-1.col-md-5
						p If you would like to talk about a property or have a question, feel free to get in touch. Fill out the contact form and we’ll get right back to you.
						p Whether you’re looking to buy, sell, or would like more information about the area, please contact us.
						p 
							| 1260 Corona Pointe, STE. 102,
							br
							| Corona, CA 92879
						
						p 
							| Phone: 626-629-6699
							br
							| Email: john4reo@gmail.com
					form#contact-form(action="https://formspree.io/huangmhuang@gmail.com", method="POST")
					.col-xs-12.col-md-offset-1.col-md-5
						.field
							input#name(type="text", name="name", placeholder="Name" required)
						.field
							input#email(type="email", name="_replyto", placeholder="Email" required)
						.field
							input#subject(type="subject", name="_subject", placeholder="Subject")
						.field
							textarea#message(name="message", placeholder="Your Message" required)
						.field
							button(type="submit") Send
		footer
			.container-fluid.text-center
				.row
					.col-xs-12
						i.fa.fa-facebook-square(aria-hidden="true")
						i.fa.fa-linkedin-square(aria-hidden="true")
					p
						| &copy; 2016 
						a(href="#") John Huang. 
						| All Rights Reserved.
					p 
						| Built by
						a(href="#")
							img(src="#")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")