doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title John Huang | Southern California Real Estate Agent
		link(rel="stylesheet", href="../lib/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(rel="stylesheet", href="../lib/css/style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")
	body.about-page
		.navbar.navbar-static-top 
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#")
						img(src="../images/John-Huang-Logo.png")
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
					li
						a(href="../about/", data-toggle="collapse", data-target=".navbar-collapse.in") About
					li
						a(href="../listings/", data-toggle="collapse", data-target=".navbar-collapse.in") Listings
					li
						a(href="../search-homes/", data-toggle="collapse", data-target=".navbar-collapse.in") Search Homes
					li
						a(href="../sellers/", data-toggle="collapse", data-target=".navbar-collapse.in") Sellers
					li
						a(href="../contact/", data-toggle="collapse", data-target=".navbar-collapse.in") Contact
		main
			.container-fluid
				h1.text-center John Huang
				h2.text-center REALTOR, CDPE, BPOR
				.row
					.col-xs-12.col-md-offset-1.col-md-3.text-center
						#left-main
							.row
								img.jh-logo(src="../images/John-Huang.png")
							.row
								img.rog-logo(src="../images/Realty-One-Group-Logo.png")
							.row
								p.text-center License: 01761202
							.row
								p.text-center CalBRE# 01761202
					.col-xs-12.col-md-offset-1.col-md-6
						#right-main
							p My clients have a distinct advantage. Serving Los Angeles, Orange, San Bernardino, and Riverside counties for the past 8 years, I offer my clients unmatched skill, knowledge, and passion to serve their purpose. My passion in real estate is best observed through my attention to detail, diligence, and negotiation for the best deal. 
							p My anticipation for clients’ needs and explaining each step along the way through each intricate transaction is an unparalleled skill set.  My diligence to follow up, contacting, and responding to emails, phone calls, and texts on a “10-minute” response rule is truly recognized and applauded by clients. 
							p Best of all, I am a skilled negotiator.  I will not back down for competition.  Many clients have referred their family and friends to me because I have beaten the odds by making impossible deals happen.
				.row
					.col-md-offset-2.col-md-8.text-center
						h2.areas Serving Eastvale/Corona and Surrounding Areas:
						p Eastvale, Corona, Arcadia, Temple City, San Marino, Pasadena, South Pasadena, Sierra Madre, Monrovia, Alhambra, San Gabriel, Monterey Park, Rosemead, El Monte, South El Monte, Covina, West Covina, Glendora, Azusa, Duarte, Los Angeles	
		#alt-contact
			.container-fluid.text-center
				.row
					.col-xs-12.col-md-offset-3.col-md-3.text-center
						h3 Contact John Today
						p Get in touch to buy or sell a home
					.col-xs-12.col-md-3
						a(href="#").btn.btn-primary Get in touch
		footer
			.container-fluid.text-center
				.row
					.col-xs-12
						a(href="#")
							i.fa.fa-facebook-square(aria-hidden="true")
						a(href="#")
							i.fa.fa-linkedin-square(aria-hidden="true")
					h5
						| &copy; 2016 
						a(href="#") John Huang
						| . All Rights Reserved.
					h5 Built by
						a(href="http://michellehuang.net")
							img(src="../images/MH-Logo.png")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")






		
