doctype html
html(lang='en')
	title About | John Huang - Southern California Real Estate Agent
	meta(name="description", content="Learn a little more about how I work.")
	meta(property="og:title", content="About | John Huang - Southern California Real Estate Agent")
	meta(property="og:description", content="Learn a little more about how I work.")
	meta(property="og:url", content="#")
	meta(property="og:image", content="#")
	include ../../includes/head.pug
	body.about-page
		include ../../includes/navbar.pug
		main
			.container-fluid
				h1.text-center John Huang
				h2.text-center.end-head REALTOR, CDPE, BPOR
				.row
					.col-xs-12.col-sm-offset-1.col-sm-4.text-center
						#left-main
							.row
								img.jh-image.img-responsive(src="/images/john-huang-large.jpg", alt="Image of John Huang")
							.row
								img.rog-logo.img-responsive(src="/images/reo-logo.png", alt="Logo of Realty One Group")
							.row
								p.text-center License: #01761202
							.row
								p.text-center CalBRE: #01761202
					.col-xs-12.col-sm-6
						#right-main
							p My clients have a distinct advantage. Serving Los Angeles, Orange, San Bernardino, and Riverside counties for the past 8 years, I offer my clients unmatched skill, knowledge, and passion to serve their purpose. My passion in real estate is best observed through my attention to detail, diligence, and negotiation for the best deal. 
							p My anticipation for clients’ needs and explaining each step along the way through each intricate transaction is an unparalleled skill set.  My diligence to follow up, contacting, and responding to emails, phone calls, and texts on a “10-minute” response rule is truly recognized and applauded by clients. 
							p Best of all, I am a skilled negotiator.  I will not back down for competition.  Many clients have referred their family and friends to me because I have beaten the odds by making impossible deals happen.
				.row
					.col-md-offset-2.col-md-8.text-center
						h2.areas.sm-bot-pad Serving Eastvale/Corona and Surrounding Areas:
						p Eastvale, Corona, Arcadia, Temple City, San Marino, Pasadena, South Pasadena, Sierra Madre, Monrovia, Alhambra, San Gabriel, Monterey Park, Rosemead, El Monte, South El Monte, Covina, West Covina, Glendora, Azusa, Duarte, Los Angeles	
		include ../../includes/alt-contact.pug
		include ../../includes/footer.pug
		include ../../includes/scripts.pug






		
