doctype html
html(lang="en")
	title Page Not Found | John Huang - Southern California Real Estate Agent
	meta(name="description", content="Find your perfect home with John Huang in Eastvale, Corona, Arcadia, Temple City, San Marino, Pasadena, and the rest of San Gabriel Valley.")
	meta(property="og:title", content="Page Not Found | John Huang - Southern California Real Estate Agent")
	meta(property="og:image", content="#")
	include ../includes/head.pug
	body.pnf-page
		include ../includes/navbar.pug
		main
			.container-fluid.text-center
				.row
					.col-xs-12
						h1.end-head Whoops! Page not found.
				.row
					.col-xs-12
						
						p 
							| This may be because of a mistyped URL, faulty referral, or out-of-date search engine listing. 
							br
							| Perhaps you should try the 
							a(href="/") homepage
							| ?
						p.small-text
							| If you think this is an error, please 
							a(href="/contact") let us know 
							| so we can fix it.
		include ../includes/alt-contact.pug
		include ../includes/footer.pug
		include ../includes/scripts.pug
