doctype html
html(lang='en')
	title Search Homes | John Huang - Southern California Real Estate Agent
	meta(name="description", content="Find your next home in the MLS listings.")
	meta(property="og:title", content="Search Homes | John Huang - Southern California Real Estate Agent")
	meta(property="og:description", content="Find your next home in the MLS listings.")
	meta(property="og:url", content="#")
	meta(property="og:image", content="#")
	include ../../includes/head
	body.search-page
		include ../../includes/navbar
		main.search-homes
			.container-fluid.text-center
				h1 Search Homes
				.row
					.col-xs-12.col-md-offset-1.col-md-10
						iframe(src="http://mrmlsmatrix.com/Matrix/public/IDX.aspx?idx=e0431445", width="100%", height="600px", frameborder="0", marginwidth="0", marginheight="0")
		include ../../includes/alt-contact
		include ../../includes/footer
		include ../../includes/scripts
